@use "sass:list";
@import './main.scss';

.journeyViewport{
    padding: 124px 64px 32px 64px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    p {
        text-indent: 2em;
        
    }

    > div{
        flex-grow: 1;

        &.centerTextImg{
            display: flex;
            flex-direction: row;
            position: relative;
            margin: 64px 96px 0 96px;
            gap: 40px;

            > * {
                width: 50%;
            }

            > .image{
                > img {
                    aspect-ratio: 16 / 9;
                    width: 100%;
                }
            }
        }
    }
}