#numero{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column-reverse;

    height: 100dvh;
    margin-left: 100px;
    @media (max-width: 1400px){ margin-left: 50px; }
    @media (max-width: 1000px){ margin-left: -100px; }
    @media (max-width: 700px){ margin-left: -200px; }
    @media (max-width: 500px){ margin-left: -300px; }

    z-index: -1;

   

    > span{
        font-size: 1000px;
        @media (max-height: 900px){ font-size: 800px; }
        @media (max-height: 670px){ font-size: 700px; }

        line-height: 0.75;
        position: absolute;

        opacity: 0.2;
        filter: blur(20px);
        scale: 1.2;
        transform-origin: bottom;

        transition: line-height 150ms, scale 150ms, opacity 150ms, filter 150ms;

        &:first-child{
            filter: blur(100px);
        }
    }

    &.transicionar{
        > span{
            opacity: 1;
            scale: 1;
            line-height: 0.8;

            &:last-child{
                filter: blur(0px);
            }
        }
    }

}