@import "./main.scss";

#LOADINGSCREEN{
    background-color: black;
    z-index: 100;
    position: sticky !important;
    @include pos(0, 0);

    > .dynamicText{
        @include centrado();
        opacity: 0;
        animation: showLoading 2000ms forwards;

        > h1{
            @media(max-width: 700px){ font-size: 40pt !important; }
            @media(max-width: 550px){ font-size: 30pt !important; }
            @media(max-width: 450px){ font-size: 20pt !important; }
        }
    }
}

@keyframes showLoading {
    0% { opacity: 0; }
    20% { opacity: 1; }
    100% { opacity: 0; }
}