@use "sass:list";
////////////////////////////////////////////////
//////////// root
:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

////////////////////////////////////////////////
//////////// global mixins

@mixin SyneFamily{
  font-family: Syne, sans-serif;
}

@mixin notAround(){
  margin: 0;
  padding: 0;
  border: 0;
}

@mixin pos($t: 0, $l: 0, $isTop: true, $isLeft: true){
  @if($isTop){ top: $t; }
  @else{ bottom: $t; }

  @if($isLeft){ left: $t; }
  @else{ right: $t; }
}

@mixin dim($w: auto, $h: auto){
  width: $w;
  height: $h;
}

@mixin centrado(){
  position: absolute;
  @include pos($t: 50%, $l: 50%);
  transform: translate(-50%, -50%);
}

////////////////////////////////////////////////
//////////// html tags

$tamanhoHeadings: 128pt, 74pt, 36pt, 20pt, 14pt, 8pt;

@for $i from 1 to (list.length($tamanhoHeadings) + 1){
  h#{$i}{
    @include notAround();
    cursor: default;

    font-size: list.nth($tamanhoHeadings, $i);
  }
}

*{
  user-select: none;
}

html, body{
  @include notAround();
  overflow: hidden;
  @include dim(100dvw, 100dvh);
}

h1{
  $mediasH1:  1870px, 1700px, 1550px, 1440px,
              1350px, 1220px, 1100px, 1000px,
              900px, 800px, 700px, 450px,
              400px, 320px;

  $tamanhosMediaH1:   120pt, 110pt, 100pt, 95pt,
                      88pt, 80pt, 70pt, 65pt,
                      60pt, 48pt, 57pt, 45pt,
                      38pt, 34pt;
  
  $tamanhosMobilePOS7:  /////, /////, /////, /////,
                        /*////, /////, ///*/ 100pt,
                        95pt, 88pt, 57pt, 45pt,
                        38pt, 34pt;

  @for $i from 1 to (list.length($tamanhosMediaH1) + 1){
    @media (max-width: list.nth($mediasH1, $i)){
      font-size: list.nth($tamanhosMediaH1, $i);

      @if ($i > 7){
        &.mobile{ font-size: list.nth($tamanhosMobilePOS7, $i - 7); }
      }
    }
  }
}

h1, h2{
  @include SyneFamily();
  text-wrap: nowrap;
  white-space: nowrap;
}

h2{
  margin-top: 64px;
  text-align: center;
  margin: 24px auto 0;
  @media (max-width: 1500px){ font-size: 65pt; }
  @media (max-width: 1220px){ font-size: 60pt; }
  @media (max-width: 1000px){ font-size: 55pt; }
  @media (max-width: 600px){ margin-top: 48px; font-size: 40pt; }
  @media (max-width: 500px){ font-size: 30pt; }
  @media (max-width: 350px){ margin-top: 30px; font-size: 27pt; }
}

h4{
  font-weight: 500;
  @media (max-width: 1300px){ font-size: 16pt; }
  @media (max-width: 700px){ font-size: 12pt; }
}

h5{
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  @media (max-width: 1300px){ font-size: 12pt; }
  @media (max-width: 700px){ font-size: 10pt; }
}

p{
  font-size: 24pt;
  line-height: 1.2;
  font-weight: 300;
  @media (max-width: 1440px){ font-size: 18pt; }
  @media (max-width: 900px){ font-size: 14pt; }
}

body{
  position: relative;
}

////////////////////////////////////////////////
//////////// classes

.viewport{
  @include dim(100dvw, 100dvh);
  overflow: hidden;

  &:not(#LOADINGSCREEN){
    position: absolute;
    opacity: 0;
  
    transition: 150ms top ease-in-out, 150ms left ease-in-out, 600ms opacity ease-in-out;

    &.horizontal{
      &.onLeft{
        left: -100%;
      }

      &.viewing{ left: 0; }

      &:not(.viewing, .onLeft){
        @include pos($l: 100%);
      }
    }

    &.vertical{
      &.onTop{
        top: -100%;
      }

      &.viewing{ top: 0; }

      &:not(.viewing, .onTop){
        @include pos($t: 100%);
      }
    }

    &.viewing{ opacity: 1; }
  }
}