@import "./main.scss";

#paragrafo{
    > p{
        @include dim(70%, auto);
        @media (max-width: 700px){ @include dim(80%, auto); }
        @include centrado();

        > span{
            color: white;
            display: inline-block;
    
            &:has(+ span.change), &.change, &.change + span{
                text-shadow: white 0 0 30px;
                font-weight: 600;
            }
    
            &.space{
                opacity: 0;
            }

            &:first-of-type{
                text-indent: 2em;
            }
        }
    }
}