.showText{
    overflow: hidden;

    > * {
        transform-origin: top left;
        translate: 0 100%;
    }

    &.show > * {
        animation: showInnerText 500ms forwards;
    }

    &.showRotate > * {
        rotate: 20deg;
    }
    &.doRotate.showRotate > * {
        animation: showRotate 500ms forwards;
    }

    &.delay > * {
        animation-delay: 500ms;
    }
}

@keyframes showInnerText {
    0%{ translate: 0 100%;}
    100%{translate: 0 0%; }
}
@keyframes showRotate{
    0%{ rotate: 20deg; translate: 0 100%;}
    70%{ rotate: -3deg }
    100%{ rotate: 0deg; translate: 0 0%; }
}